{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="start">Start</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="question1">Question 1</a></li>
      <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="question2">Question 2</a></li>
      <li class="govuk-breadcrumbs__list-item">Check your answers</li>
    </ol>
  </div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Two personal questions about love</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Love time</dt>
          <dd class="govuk-summary-list__value">{{ data['what-time-is-the-love'] }}</dd>
          <dd class="govuk-summary-list__actions"><a href="question1">Change<span class="govuk-visually-hidden">When is it</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Love location</dt>
          <dd class="govuk-summary-list__value">{{ data['where-is-the-love'] }}</dd>
          <dd class="govuk-summary-list__actions"><a href="question2">Change<span class="govuk-visually-hidden">Where is it</span></a></dd>
        </div>

      </dl>

     
      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
